/* General styles */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ACE2E1;
    min-height: calc(100vh - 1rem);
    max-height: calc(100vh - 1rem);
}

header {
    padding: 10px;
    background: #146C94;
    display: flex;
    gap: 10px;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: medium;
}

.chatbox {
    display: flex;
    overflow: auto;
}

.chatarea {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.userchat {
    display: flex;
    align-items: center; /* Corrected typo */
    gap: 10px;
    justify-content: start;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#user-chat, #ai-chat {
    background: #38A3A5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: black;
}

#user-chat {
    color: black;
}

#aichat {
    display: flex;
    align-items: center; /* Corrected typo */
    gap: 10px;
    justify-content: end;
}

#ai-chat {
    color: #124a23;
    text-wrap: auto;
}

.mess-form {
    padding: 10px;
    height: fit-content;
    margin-top: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: black;
    line-break: auto;

}

.mess-text {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    outline: none;
    background: #F6F1F1;
}

.mess-btn {
    width: 100%;
    padding: 8px;
    background: #19A7CE;
    border-radius: 8px;
    color: white;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: row;
        align-items: stretch;
    }

    .userchat, #aichat {
        flex-direction: column;
        align-items: stretch;
    }

    /* .mess-btn {
        width: auto;
    } */
}
